@page "/produto"
@using BlazorShop.Models.DTOs
@using BlazorShop.Web.Services

@inject IProdutoService produtoService;

<h1>Produtos</h1>
@if (Produtos == null)
{
    <div id="app">
        <svg class="loading-progress">
            <circle r="40%" cx="50%" cy="50%" />
            <circle r="40%" cx="50%" cy="50%" />
        </svg>
        <div class="loading-progress-text" style="position: initial !important;"></div>
    </div>
}
else
{
    var prodByCategoria = from produtos in Produtos
                          group produtos by produtos.CategoriaId into prodPorCatGrupo
                          orderby prodPorCatGrupo.Key
                          select prodPorCatGrupo;

    foreach (var item in prodByCategoria)
    {
        <h4>@item.FirstOrDefault(p => p.CategoriaId == item.Key).CategoriaNome</h4>

        <div class="row mt-3">
            <ExibirProdutos Produtos=@item></ExibirProdutos>
        </div>
    }
}

@code {
    public IEnumerable<ProdutosDTO>? Produtos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Produtos = await produtoService.GetProdutos();
    }
}