@using BlazorShop.Models.DTOs
@using BlazorShop.Web.Services

@foreach (var item in Produtos)
{
    <div class="col-md-3">
        <a href="/ProdutoDetalhes/@item.Id">
            <div class="card" style="width: 18rem;">
                <img src="@item.ImagemUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Nome</h5>
                    <p class="card-text">@item.Descricao | @item.Preco.ToString()</p>                   
                </div>
            </div>
        </a>
    </div>
}

@code {

    [Parameter]
    public IEnumerable<ProdutosDTO>? Produtos { get; set; }
}
