@rendermode InteractiveServer

<div class="card">
    <h5 class="card-header">@Header</h5>
    <div class="card-body">

        @if(ChildContent != null)
        {
            @ChildContent
        }else
        {
            <h5 class="card-title shadow-sm p-3 mb-5 bg-white rounded">@Title</h5>
            <p class="card-text">@Text</p>
            <button class="btn btn-primary" @onclick="EventClick">Go somewhere</button>            
        }

    </div>
</div>

@code {

    [Parameter]
    public string? Header { get; set; } = "Featured";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string? Title { get; set; } = "Special title treatment";

    [Parameter]
    public string? Text { get; set; } = "With supporting text below as a natural lead-in to additional content";

    [Parameter]
    public EventCallback EventClick { get; set; }

    public void OnClick()
    {
        Title = "Other text";
    }


}