
<div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Nome</span>
    <input type="text" class="form-control" placeholder="" alt="" maxlength="" autocomplete="" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>

@code {
      

}
