@page "/component"
@rendermode InteractiveServer
@inject IJSRuntime JS


<div class="row">
    <div class="col-sm-3">
        <Card Title="Titulo"
              Header="Cacecario"
              Text="Texto que vai dentro do card, o conteudo em si"
              EventClick="Click1" />

    </div>
    <div class="col-sm-3">
        <Card Title="Outro Titulo"
              Header="Header Novo"
              Text="Outro texto do outro card"
              EventClick="Click2" />
    </div>
    <div class="col-sm-3">
        <Card Title="Outro Titulo"
              Header="Header Novo"
              Text="Outro texto do outro card"
              EventClick="Click2" />
    </div>

    <div class="col-sm-3">
        <Card Header="FragmentChild">
            <h4>Eu sou o clid content</h4>
            <p>Olá mundo </p>
            <button class="btn btn-outline-warning" @onclick="Click2">Clique</button>
        </Card>
    </div>


</div>

<div class="row">
    <div class="col-sm-3">
        <InputString />

    </div>
</div>


@code {

    public void Click1()
    {
        JS.InvokeVoidAsync("alert", "Card 1");
    }

    public void Click2()
    {
        JS.InvokeVoidAsync("alert", "Card 2");
    }
}