@page "/component"
@rendermode InteractiveServer
@inject IJSRuntime JS

<div class="row">
   
</div>

<div class="row">
    <div class="col-sm-3">
        <InputString />
    </div>
</div>

@code {

  
}