@page "/form/data"
@rendermode InteractiveServer

<div class="container-md">
	<div class="row-cols-3">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" @bind-value="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			
			<button class="btn btn-dark" @onclick="exibeMensagem">Mudar Email Padrão</button>
	</div>
</div>

@code {
	private int Id { get; set; }
	private string? Email { get; set; }


	public void exibeMensagem()
	{
		Email = "OutroEmail@terra.com.br";
	}

}
