@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div>
    <p>c#: @DateTime.Now</p>
</div>
<style>
    p {
        color: brown;
    }
</style>

<script>
   // alert("Eu sou JS");
</script>

